*:focus {
    outline: 0 !important;
}

.icon-widget {
    margin-left: 10px;
}

.quick-access {
    display: inline-block;
    padding: 30px;
    border: 1px solid #e1e1e1;
    color: white;
    box-shadow: 2px 3px 7px #dedede;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 17px;
}

.quick-access a {
    color: grey;
}

.quick-access:hover a {
    color: white;
    transition: .3s;
}

.quick-access:hover {
    transition: .3s;
}

.qa-orange:hover {
    background-color: #f0ad4e;
}

.qa-blue:hover {
    background-color: #337ab7;
}

.qa-green:hover {
    background-color: #5cb85c;
}

.qa-red:hover {
    background-color: #d9534f;
}

.qa-grey {
    background-color: #e1e1e1;
}

.yazdi-wp-tbl thead > tr {
    background-color: #e1e1e1;
}

.yazdi-wp-tbl thead td {
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}

.yazdi-wp-tbl tbody tr:hover {
    background-color: #efefef;
    text-shadow: 0px 1px 2px grey;
    color: grey;
    transition: .3s;
}

.yazdi-wp-tbl thead th {
    border-top: 2px solid #0073aa;
    color: #0073aa !important;
    background-color: #f5f5f5 !important;
    border-left: 1px solid #e1e1e1 !important;
}

.yazdi-wp-tbl tfoot th {
    border-bottom: 2px solid #0073aa !important;
    color: #0073aa !important;
    background-color: #f5f5f5 !important;
    border-left: 1px solid #e1e1e1 !important;
}

.yazdi-wp-tbl td {
    line-height: 2.5em !important;
    border-left: 1px solid #e1e1e1 !important;
}

.yazdi-wp-tbl td button,
.yazdi-wp-tbl td a {
    height: 36px !important;
}

.yazdi-wp-tbl td button > span {
    margin-top: 4px;
}

.yazdi-wp-tbl td a > span {
    margin-top: 2px;
}

.dash-left-btn {
    margin-top: 8px;
}

.ym-wrapper h2.hndle {
    padding-top: 10px;
}

.tbl-a-btn {
    top: 6px !important;
}

.msg-admin {
    background-color: #dfefdf !important;
    display: none;
}

.msg-admin td {
    padding: 15px;
    color: grey;
    border-top: 3px solid #e1e1e1;
    border-bottom: 3px solid #e1e1e1;
}

.page-numbers {
    padding: 10px 10px 7px !important;
    font-weight: bold !important;
}

.ym-wrapper {
    background-color: white;
    padding: 20px;
    margin-right: -10px;
    margin-top: 20px;
    border-top: 2px solid #0073aa;
    border-bottom: 2px solid #0073aa;
    border-right: 2px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}

.star-req {
    color: red;
    margin-left: 6px;
}

.color-wp-blue {
    color: #0073aa;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0085ba;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0085ba;
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* End Styles for Yazdi Settings Page */

.ym-row > label:nth-child(1) {
    margin-left: 10px;
    font-size: 14px;
}

.ym-row {
    height: 45px;
    display: inline-block;
    padding-top: 19px;
    background-color: #f7f7f7;
    padding-right: 17px;
    padding-left: 19px;
    border-radius: 5px;
    margin-bottom: 17px;
    border: 2px solid #e1e1e1;
}

h1.headline-text > span {
    font-size: 34px;
    display: inline-table;
    margin-left: 10px;
    color: #0073aa;
}

a.ym-help {
    transition: .3s;
    text-decoration: none;
    border: 0;
    outline: none;
}

a.ym-help:focus {
    outline: 0 !important;
}

a.ym-help:hover {
    color: #cccccc;
}

a.ym-help > span {
    font-size: 41px;
    margin-top: 15px;
}

.ym-help-details {
    background-color: #f7f7f7;
    margin-top: -19px;
    padding: 4px 12px;
    min-height: 61px;
    margin-bottom: 17px;
    border: 2px solid #e1e1e1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
}

xmp.ym-codes {
    direction: ltr;
    text-align: left;
    background-color: white;
    /* border-radius: 3px; */
    border: 2px solid #e1e1e1;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
}

.ym-msg {
    height: 39px;
}

/* New Styles Added In Version 1.5 */

.yazdi-page {
}

.yazdi-page input[type="text"],
.yazdi-page .ym-select,
.yazdi-page textarea ,
.yazdi-page input[type="file"] {
    font-size: 14px;
    padding: 4px 12px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    box-shadow: 0 6px 11px -6px #ddd;
    height: 36px;
}
.yazdi-page textarea {
    height: auto;
}

.yazdi-page .ym-select span {
    font-size: 21px;
    position: absolute;
    left: 7px;
    top: 9px;
    color: #929292;
}

.yazdi-page .ym-select {
    height: 37px;
    margin-top: 4px;
    display: inline-block;
    padding: 0;
    min-width: 205px;
    position: relative;
}

.yazdi-page .ym-select select {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 0;
    padding-left: 35px;
    padding-right: 13px;
    height: 36px;
    width: 100%;
    background: transparent;
    box-shadow: 0 0 0;
}

.yazdi-page .ym-frm-inline {
    position: relative;
    display: inline-block;
}

.yazdi-page .ym-frm-row {
    position: relative;
    display: block;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.yazdi-page .ym-frm-row label ,
.yazdi-page .ym-frm-row input ,
.yazdi-page .ym-frm-row .ym-select {
    display: block;
    margin: 3px 0;
    width: 100%;
}

.yazdi-page .gfms-show-ext {
    font-size: 12px;
    float: left;
}
.yazdi-page .gfms-show-ext span {
    background-color: #e1e1e1;
    border-radius: 5px;
    padding: 2px 8px;
    display: inline-block;
}
.yazdi-page .filters-wrapper {
    margin-top: 20px;
}

.yazdi-page .filters-wrapper .ym-frm-inline {
    margin: 8px 5px;
}

.yazdi-page .filters-wrapper .ym-frm-inline label {
    position: absolute;
    top: -19px;
    font-size: 13px;
    right: 7px;
    display: none;
}

.yazdi-page .filters-wrapper label.ym-check {
    display: inline-block;
    position: relative;
    font-size: 16px;
    right: 0;
    left: 0;
    bottom: 0;
    top: 5px;
}

.yazdi-page .filters-wrapper .ym-frm-inline input[type="text"] {
    width: 205px;
    transition: all .3s;
}

.ym-button {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
    display: inline-block;
    font-size: 15px;
    line-height: 27px;
    height: 37px;
    margin: 0;
    padding: 4px 17px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .3s;
}

.ym-button > span {
    margin-top: 3px;
    margin-right: 7px;
}

.ym-button-new {
    border-left: 0;

}

.ym-button-new > span {
    font-size: 45px;
    margin: -8px 0 0 -14px;
}

.ym-button:hover {
    color: #000000;
    border-color: #000000;
    background: #ffffff;
    box-shadow: 0 1px 0 #000000;
    transition: all .3s;
    text-shadow: 0 0 0 #fff;
}

.ym-button-blue {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, -1px 0 1px #006799, 0 1px 1px #006799, 1px 0 1px #006799;
}

.ym-button-blue:hover {
    color: #0073aa;
    border-color: #0073aa;
    box-shadow: 0 1px 0 #0073aa;
}

.ym-button-blue-rev {
    color: #0073aa;
    border-color: #0073aa;
    box-shadow: 0 1px 0 #0073aa;
    background-color: white;
}

.ym-button-blue-rev:hover {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, -1px 0 1px #006799, 0 1px 1px #006799, 1px 0 1px #006799;
}

.ym-button-red {
    background: #ba0000;
    border-color: #750404;
    -webkit-box-shadow: 0 1px 0 #ba0000;
    box-shadow: 0 1px 0 #ba0000;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #ba0000, -1px 0 1px #ffffff, 0 1px 1px #ba0000, 1px 0 1px #ffffff;
}

.ym-button-red:hover {
    color: #ba0000;
    border-color: #ba0000;
    box-shadow: 0 1px 0 #ba0000;
}

.ym-button-red-rev {
    color: #ba0000;
    border-color: #ba0000;
    box-shadow: 0 1px 0 #ba0000;
    background-color: white;
}

.ym-button-red-rev:hover {
    background: #ba0000;
    border-color: #750404;
    -webkit-box-shadow: 0 1px 0 #ba0000;
    box-shadow: 0 1px 0 #ba0000;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #ba0000, -1px 0 1px #ffffff, 0 1px 1px #ba0000, 1px 0 1px #ffffff;
}

.yazdi-wp-tbl td a {
    padding-top: 5px;
}

input[type=checkbox]:checked:before {
    margin: -5px -5px 0 0;
    color: #1e8cbe;
    font-size: 28px;
}

input[type=checkbox] {
    margin-right: 7px;
}

input[type=checkbox].yzd-check, input[type=radio].yzd-radio {
    width: 17px !important;
    height: 17px !important;
    position: relative;
    top: 6px
}

.yazdi-page .tablenav .tablenav-pages a {
    border-radius: 4px;
    color: #0085ba;
    min-width: 41px;
}

.yazdi-page .tablenav .tablenav-pages a:hover {
    color: white;
}

.yazdi-page .tablenav .tablenav-pages a span.dashicons {
    width: auto;
    height: auto;
    font-size: inherit;
}
label.error-js {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block !important;
    width: auto !important;
    color: #ec0000;
}
.ym-select label.error-js {
    top:-27px;
}
/* Start Custom W# Franework */
.yzd-modal header,
.yzd-modal footer {
    background-color: #0073aa !important;
    color: white;
}

.yzd-closebtn {
    float: left !important;
}

.yzd-modal header span.title {
    margin-top: 7px;
    display: inline-block;
}

.yzd-modal .yzd-body {
    padding: 15px;
}

/* End Custom W# Franework */